In [2]:
!conda install -c conda-forge geocoder --yes

Collecting package metadata: done
Solving environment: /
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/linux-64::anaconda==5.3.1=py37_0
  - defaults/linux-64::astropy==3.0.4=py37h14c3975_0
  - defaults/linux-64::bkcharts==0.2=py37_0
  - defaults/linux-64::blaze==0.11.3=py37_0
  - defaults/linux-64::bokeh==0.13.0=py37_0
  - defaults/linux-64::bottleneck==1.2.1=py37h035aef0_1
  - defaults/linux-64::dask==0.19.1=py37_0
  - defaults/linux-64::datashape==0.5.4=py37_1
  - defaults/linux-64::mkl-service==1.1.2=py37h90e4bf4_5
  - defaults/linux-64::numba==0.39.0=py37h04863e7_0
  - defaults/linux-64::numexpr==2.6.8=py37hd89afb7_0
  - defaults/linux-64::odo==0.5.1=py37_0
  - defaults/linux-64::pytables==3.4.4=py37ha205bf6_0
  - defaults/linux-64::pytest-arraydiff==0.2=py37h39e3cac_0
  - defaults/linux-64::pytest-astropy==0.4.0=py37_0
  - defaults/linux-64::pytest-doctestplus==0.1.3=py37_0
  - defaults/linux-64::pywavelets==1.0.0=py37hdd07704_0
  - defaults/linux-64::scikit-image==0.14.0=py37hf484d3e_1
done

## Package Plan ##

  environment location: /home/jupyterlab/conda

  added / updated specs:
    - geocoder


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2019.6.16  |       hecc5488_0         145 KB  conda-forge
    certifi-2019.6.16          |           py36_0         148 KB  conda-forge
    conda-4.7.5                |           py36_0         3.0 MB  conda-forge
    conda-package-handling-1.3.10|           py36_0         257 KB  conda-forge
    geocoder-1.38.1            |             py_0          52 KB  conda-forge
    orderedset-2.0             |           py36_0         231 KB  conda-forge
    ratelim-0.1.6              |           py36_0           5 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.8 MB

The following NEW packages will be INSTALLED:

  conda-package-han~ conda-forge/linux-64::conda-package-handling-1.3.10-py36_0
  geocoder           conda-forge/noarch::geocoder-1.38.1-py_0
  orderedset         conda-forge/linux-64::orderedset-2.0-py36_0
  ratelim            conda-forge/linux-64::ratelim-0.1.6-py36_0

The following packages will be UPDATED:

  ca-certificates                       2019.3.9-hecc5488_0 --> 2019.6.16-hecc5488_0
  certifi                                   2019.3.9-py36_0 --> 2019.6.16-py36_0
  conda                                       4.6.14-py36_0 --> 4.7.5-py36_0



Downloading and Extracting Packages
conda-package-handli | 257 KB    | ##################################### | 100%
conda-4.7.5          | 3.0 MB    | ##################################### | 100%
orderedset-2.0       | 231 KB    | ##################################### | 100%
geocoder-1.38.1      | 52 KB     | ##################################### | 100%
ratelim-0.1.6        | 5 KB      | ##################################### | 100%
certifi-2019.6.16    | 148 KB    | ##################################### | 100%
ca-certificates-2019 | 145 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
from bs4 import BeautifulSoup

In [6]:
import requests

In [7]:
source=requests.get('https://www.worldatlas.com/articles/us-states-by-population.html')

In [12]:
class Scrapy:
      
        def parse_url(self, url):
            response = requests.get(url)
            soup = BeautifulSoup(response.text, 'lxml')
            return [(self.parse_html_table(table))\
                    for table in soup.find_all('table', class_="wikitable sortable")] 
   
        def parse_html_table(self, table):
            n_columns = 2
            n_rows=51
            column_names = []
            for row in table.find_all('tr'):
                td_tags = row.find_all('td')
                if len(td_tags) > 0:
                    n_rows+=1
                    if n_columns == 51:
                        n_columns = len(td_tags)
                       
                th_tags = row.find_all('th')
                if len(th_tags) > 0 and len(column_names) == 2:
                    for th in th_tags:
                        column_names.append(th.get_text())
   
            if len(column_names) > 2 and len(column_names) != n_columns:
                raise Exception("Column titles do not match the number of columns")
   
            columns = column_names if len(column_names) > 51 else range(0,n_columns)
            df = pd.DataFrame(columns = columns,
                              index= range(0,n_rows))
            row_marker = 51
            for row in table.find_all('tr'):
                column_marker = 2
                columns = row.find_all('td')
                for column in columns:
                    df.iat[row_marker,column_marker] = column.get_text()
                    column_marker += 1
                if len(columns) > 51:
                    row_marker += 1
                   
            for col in df:
                try:
                    df[col] = df[col].astype(float)
                except ValueError:
                    pass
           
            return df

In [16]:
url='https://www.worldatlas.com/articles/us-states-by-population.html'
hp=Scrapy()
table=hp.parse_url(url)

In [17]:
url2='https://en.wikipedia.org/wiki/List_of_largest_California_cities_by_population'

In [18]:
list2 = pd.read_html(url2, header=0)[0]

In [19]:
list2

,2018 Rank[1],City,Population(2018 est.)[1],County,Image,Description
0,1,Los Angeles,3990456,Los Angeles,NaN,Los Angeles is one of the world's centers of m...
1,2,San Diego,1425976,San Diego,NaN,San Diego sits in the extreme south of Califor...
2,3,San Jose,1030119,Santa Clara,NaN,"San Jose was founded on November 29, 1777, as ..."
3,4,San Francisco,883305,San Francisco,NaN,San Francisco is a popular international touri...
4,5,Fresno,530093,Fresno,NaN,Fresno is at the heart of the San Joaquin Vall...
5,6,Sacramento,508529,Sacramento,NaN,Sacramento has been the state capital of Calif...
6,7,Long Beach,467354,Los Angeles,NaN,Long Beach is a coastal city in the Greater Lo...
7,8,Oakland,429082,Alameda,NaN,Oakland is a major West Coast port and is home...
8,9,Bakersfield,383579,Kern,NaN,Bakersfield sits at the southern end of the Sa...
9,10,Anaheim,352005,Orange,NaN,Anaheim is the most populous city in Orange Co...
10,11,Santa Ana,332725,Orange,NaN,Santa Ana is the county seat of Orange County ...
11,12,Riverside,330063,Riverside,NaN,Riverside is the most populous city of Souther...
12,13,Stockton,311178,San Joaquin,NaN,Stockton is at the heart of the Sacramento–San...
13,14,Irvine,282572,Orange,NaN,"Irvine is a planned city, mainly developed by ..."
14,15,Chula Vista,271651,San Diego,NaN,"A South Bay suburban city of San Diego, Chula ..."
15,16,Fremont,237807,Alameda,NaN,"Fremont was created as a single city in 1956, ..."
16,17,San Bernardino,215941,San Bernardino,NaN,San Bernardino is the second-largest city in t...
17,18,Modesto,215030,Stanislaus,NaN,Modesto is in the center of the Central Valley...
18,19,Fontana,213739,San Bernardino,NaN,"Founded in 1913, Fontana remained rural until ..."
19,20,Santa Clarita,210089,Los Angeles,NaN,Six Flags Magic Mountain is just outside Santa...
20,21,Oxnard,209877,Ventura,NaN,Oxnard is one of only a handful of cities in t...
21,22,Moreno Valley,209050,Riverside,NaN,"Incorporated in 1984, Moreno Valley lies 65 mi..."
22,23,Glendale,201361,Los Angeles,NaN,Glendale is the focal point of the Verdugo Mou...
23,24,Huntington Beach,200641,Orange,NaN,This Orange County coastal city is best known ...
24,25,Ontario,181107,San Bernardino,NaN,Ontario is the third principal city of the Inl...
25,26,Rancho Cucamonga,177751,San Bernardino,NaN,"Rancho Cucamonga was incorporated in 1977, as ..."
26,27,Santa Rosa,177586,Sonoma,NaN,Santa Rosa is the largest city in California's...
27,28,Oceanside,176080,San Diego,NaN,"The largest city in San Diego's North County, ..."
28,29,Elk Grove,172886,Sacramento,NaN,Elk Grove was a sleepy suburb of Sacramento un...
29,30,Garden Grove,172646,Orange,NaN,Garden Grove is home to the second-largest Vie...
...,...,...,...,...,...,...
70,71,Rialto,103440,San Bernardino,NaN,Rialto is home to three major regional distrib...
71,72,El Cajon,103241,San Diego,NaN,El Cajon is located east of San Diego. Nestled...
72,73,Vista,101224,San Diego,NaN,Vista is located just 7 miles (11 km) inland f...
73,74,Vacaville,100154,Solano,NaN,Vacaville is located nearly halfway between Sa...
74,75,San Marcos,96847,San Diego,NaN,San Marcos is a suburb of San Diego and home o...
75,76,Compton,96617,Los Angeles,NaN,"An inner suburb of Los Angeles, Compton is kno..."
76,77,Hesperia,95274,San Bernardino,NaN,Hesperia is located in the High Desert region ...
77,78,Mission Viejo,95202,Orange,NaN,Located in southern Orange County in the Saddl...
78,79,Chico,94776,Butte,NaN,Chico is the retail hub of the mid-Sacramento ...
79,80,South Gate,94443,Los Angeles,NaN,"Located southeast of downtown Los Angeles, Sou..."
80,81,Menifee,92595,Riverside,NaN,"Menifee, located in southwestern Riverside Cou..."
81,82,Carson,91909,Los Angeles,NaN,Carson is a suburb in the South Bay region of ...
82,83,Tracy,91812,San Joaquin,NaN,Tracy is the second most populated city in San...
83,84,Redding,91772,Shasta,NaN,"Located on the banks of the Sacramento River, ..."
84,85,Chino,91583,San Bernardino,NaN,Chino and its surroundings have long been a ce...
85,86,Santa Monica,91411,Los Angeles,NaN,"Santa Monica, a famed beachfront city surround..."
86,87,Santa Barbara,91350,Santa Barbara,NaN,Santa Barbara is a popular tourist and resort ...
87,88,Indio,91240,Riverside,NaN,Indio is located in the Coachella Valley regio...
88,89,Westminster,90938,Orange,NaN,Westminster is known for its Vietnamese Americ...
89,90,Livermore,90269,Alameda,NaN,Located on the eastern edge of San Francisco B...
90,91,San Leandro,89703,Alameda,NaN,Historically a town with dozens of huge cherry...
91,92,Citrus Heights,87910,Sacramento,NaN,Citrus Heights is a suburb located northeast o...
92,93,Hawthorne,86965,Los Angeles,NaN,Hawthorne is a suburb of Los Angeles. It was t...
93,94,Redwood City,86200,San Mateo,NaN,"Redwood City, the county seat of San Mateo Cou..."
94,95,Whittier,86064,Los Angeles,NaN,Whittier is part of the Gateway Cities of Los ...
95,96,Lake Forest,85623,Orange,NaN,"Lake Forest, in inland Orange County, is prima..."
96,97,Newport Beach,85326,Orange,NaN,Newport Beach is an affluent coastal city in O...
97,98,Hemet,85275,Riverside,NaN,"Hemet, in the San Jacinto Valley, is the home ..."
98,99,Alhambra,84649,Los Angeles,NaN,Alhambra is located in the western San Gabriel...
99,100,Buena Park,82421,Orange,NaN,"Buena Park, in northwestern Orange County, is ..."

In [20]:
url3 = 'https://www.worldatlas.com/articles/us-states-by-population.html'

In [21]:
list3 = pd.read_html(url3, header=0)[0]

In [22]:
list3

    Rank          ﻿State  Population
0      1      California    39536653
1      2           Texas    28304596
2      3         Florida    20984400
3      4        New York    19849399
4      5    Pennsylvania    12805537
5      6        Illinois    12802023
6      7            Ohio    11658609
7      8         Georgia    10429379
8      9  North Carolina    10273419
9     10        Michigan     9962311
10    11      New Jersey     9005644
11    12        Virginia     8470020
12    13      Washington     7405743
13    14         Arizona     7016270
14    15   Massachusetts     6859819
15    16       Tennessee     6715984
16    17         Indiana     6666818
17    18        Missouri     6113532
18    19        Maryland     6052177
19    20       Wisconsin     5795483
20    21        Colorado     5607154
21    22       Minnesota     5576606
22    23  South Carolina     5024369
23    24         Alabama     4874747
24    25       Louisiana     4684333
25    26        Kentucky     4454189
26    27          Oregon     4142776
27    28        Oklahoma     3930864
28    29     Connecticut     3588184
29    30            Iowa     3145711
30    31            Utah     3101833
31    32        Arkansas     3004279
32    33          Nevada     2998039
33    34     Mississippi     2984100
34    35          Kansas     2913123
35    36      New Mexico     2088070
36    37        Nebraska     1920076
37    38   West Virginia     1815857
38    39           Idaho     1716943
39    40          Hawaii     1427538
40    41   New Hampshire     1342795
41    42           Maine     1335907
42    43    Rhode Island     1059639
43    44         Montana     1050493
44    45        Delaware      961939
45    46    South Dakota      869666
46    47    North Dakota      755393
47    48          Alaska      739795
48    49         Vermont      623657
49    50         Wyoming      579315

In [44]:
del list2['County']

In [45]:
del list2['Image']

In [46]:
del list2['Description']

In [52]:
del list3['Rank']

In [63]:
list3

            ﻿State  Population
0       California    39536653
1            Texas    28304596
2          Florida    20984400
3         New York    19849399
4     Pennsylvania    12805537
5         Illinois    12802023
6             Ohio    11658609
7          Georgia    10429379
8   North Carolina    10273419
9         Michigan     9962311
10      New Jersey     9005644
11        Virginia     8470020
12      Washington     7405743
13         Arizona     7016270
14   Massachusetts     6859819
15       Tennessee     6715984
16         Indiana     6666818
17        Missouri     6113532
18        Maryland     6052177
19       Wisconsin     5795483
20        Colorado     5607154
21       Minnesota     5576606
22  South Carolina     5024369
23         Alabama     4874747
24       Louisiana     4684333
25        Kentucky     4454189
26          Oregon     4142776
27        Oklahoma     3930864
28     Connecticut     3588184
29            Iowa     3145711
30            Utah     3101833
31        Arkansas     3004279
32          Nevada     2998039
33     Mississippi     2984100
34          Kansas     2913123
35      New Mexico     2088070
36        Nebraska     1920076
37   West Virginia     1815857
38           Idaho     1716943
39          Hawaii     1427538
40   New Hampshire     1342795
41           Maine     1335907
42    Rhode Island     1059639
43         Montana     1050493
44        Delaware      961939
45    South Dakota      869666
46    North Dakota      755393
47          Alaska      739795
48         Vermont      623657
49         Wyoming      579315

In [71]:
list2

    2018 Rank[1]              City  Population(2018 est.)[1]
0              1       Los Angeles                   3990456
1              2         San Diego                   1425976
2              3          San Jose                   1030119
3              4     San Francisco                    883305
4              5            Fresno                    530093
5              6        Sacramento                    508529
6              7        Long Beach                    467354
7              8           Oakland                    429082
8              9       Bakersfield                    383579
9             10           Anaheim                    352005
10            11         Santa Ana                    332725
11            12         Riverside                    330063
12            13          Stockton                    311178
13            14            Irvine                    282572
14            15       Chula Vista                    271651
15            16           Fremont                    237807
16            17    San Bernardino                    215941
17            18           Modesto                    215030
18            19           Fontana                    213739
19            20     Santa Clarita                    210089
20            21            Oxnard                    209877
21            22     Moreno Valley                    209050
22            23          Glendale                    201361
23            24  Huntington Beach                    200641
24            25           Ontario                    181107
25            26  Rancho Cucamonga                    177751
26            27        Santa Rosa                    177586
27            28         Oceanside                    176080
28            29         Elk Grove                    172886
29            30      Garden Grove                    172646
..           ...               ...                       ...
70            71            Rialto                    103440
71            72          El Cajon                    103241
72            73             Vista                    101224
73            74         Vacaville                    100154
74            75        San Marcos                     96847
75            76           Compton                     96617
76            77          Hesperia                     95274
77            78     Mission Viejo                     95202
78            79             Chico                     94776
79            80        South Gate                     94443
80            81           Menifee                     92595
81            82            Carson                     91909
82            83             Tracy                     91812
83            84           Redding                     91772
84            85             Chino                     91583
85            86      Santa Monica                     91411
86            87     Santa Barbara                     91350
87            88             Indio                     91240
88            89       Westminster                     90938
89            90         Livermore                     90269
90            91       San Leandro                     89703
91            92    Citrus Heights                     87910
92            93         Hawthorne                     86965
93            94      Redwood City                     86200
94            95          Whittier                     86064
95            96       Lake Forest                     85623
96            97     Newport Beach                     85326
97            98             Hemet                     85275
98            99          Alhambra                     84649
99           100        Buena Park                     82421

[100 rows x 3 columns]

In [1]:
print('go tigers')

go tigers